<h1>New Order</h1>
<%= @order.confirmation_token %>
<%= form_with(model: @order, method: :delete, url: order_path(@order), data: { confirm: 'Are you sure?' }) do |form| %>
    <%= form.submit 'Destroy', class: '' %>
<% end %>

<%= form_with(model: @order, local: true) do |form| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>
      <ul>
        <% @order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.fields_for :stops do |stop_form| %>
    <div class="field">
      <%= stop_form.label :kind %>
      <%= stop_form.select :kind, [['Load', 'load'], ['Unload', 'unload']], {}, { prompt: 'Type of stop' } %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
