<h1>Orders</h1>

<%= link_to 'New Order', new_order_path, class:"ms-btn ms-primary" %>

<table class="w-100">
    <thead>
        <tr class="ms-text-left">
            <th>Confirmation Token</th>
            <th>Email</th>
            <th>Loads</th>
            <th>Unloads</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        <% @orders.each do |order| %>
        <tr>
            <td><%= link_to order.confirmation_token, order_path(order) %></td>
            <td><%= order.email %></td>
            <td><%= order.stops.where(kind: 'load').count %></td>
            <td><%= order.stops.where(kind: 'unload').count %></td>
            <td><%= order.status %></td>
            <td class="ms-display-flex">
                <%= link_to 'Edit', edit_order_path(order), class: 'ms-btn' %>
                <%= form_with(model: order, method: :delete, url: order_path(order), data: { confirm: 'Are you sure?' }) do |form| %>
                    <%= form.submit 'Destroy', class: '' %>
                <% end %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>
