
<div class="is-flex mb-3 is-justify-content-space-between">
    
    <h1 class="title">My dispatches</h1>
    
    <%= link_to 'New Order', new_order_path, class:"button is-primary mb-4" %>
</div>

<table class="table is-fullwidth">
    <thead>
        <tr>
            <th>Number</th>
            <th>Sent to</th>
            <th>Pickup</th>
            <th>Dropoff</th>
            <th>Status</th>
            <th class="has-text-right">Actions</th>
        </tr>
    </thead>

    <tbody>
        <% @orders.each do |order| %>
        <tr>
            <td class="p-4 has-text-weight-bold"><%= order.number %></td>
            <td class="p-4"><%= order.email %></td>
            <td class="p-4"><%= order.load_count %></td>
            <td class="p-4"><%= order.unload_count %></td>
            <td class="p-4"><span class="tag is-uppercase <%= order.status == "pending" ? "" : "has-text-primary-light has-background-primary" %>"><%= order.status %></span></td>
            <td class="has-text-right">
                <% if policy(order).edit? %>
                    <%= link_to 'Edit', edit_order_path(order), class: 'button' %>
                <% else %>
                    <%= link_to 'View confirmation', view_order_path(confirmation_token: order.confirmation_token), class: 'button has-text-primary' %>
                <% end %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>

