
<div class="">
    <h1 class="title">Orders</h1>

    <%= link_to 'New Order', new_order_path, class:"button is-primary mb-4" %>
</div>

<table class="table is-fullwidth">
    <thead>
        <tr>
            <th>Number</th>
            <th>Sent to</th>
            <th>Pickup</th>
            <th>Dropoff</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        <% @orders.each do |order| %>
        <tr>
            <td><%= order.number %></td>
            <td><%= order.email %></td>
            <td><%= order.load_count %></td>
            <td><%= order.unload_count %></td>
            <td><%= order.status %></td>
            <td>
                <% if policy(order).edit? %>
                    <%= link_to 'Edit', edit_order_path(order), class: 'ms-btn' %>
                <% else %>
                    <%= link_to 'View confirmation', view_order_path(confirmation_token: order.confirmation_token), class: 'ms-btn ms-text-green' %>
                <% end %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>

