<div class="ms-display-flex ms-flex-justify-between ms-flex-align-items-center mb-4">
    <h3 class="font-bold">
        Orders
    </h3>

    <%= link_to 'New Order', new_order_path, class:"ms-btn ms-primary" %>
</div>

<table class="ms-table">
    <thead>
        <tr class="ms-text-left">
            <th>Number</th>
            <th>Status</th>
            <th class="ms-text-right">Actions</th>
        </tr>
    </thead>

    <tbody>
        <% @orders.each do |order| %>
        <tr>
            <td><%= order.number %></td>
            <td><%= order.status %></td>
            <td class="ms-display-flex ms-flex-justify-end">
                <% if policy(order).edit? %>
                    <%= link_to 'Edit', edit_order_path(order), class: 'ms-btn' %>
                <% else %>
                    <%= link_to 'View confirmation', view_order_path(confirmation_token: order.confirmation_token), class: 'ms-btn' %>
                <% end %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>

