<%= link_to root_path do %>
  <i class="fa fa-solid fa-arrow-left mb-5"></i>
  Back
<% end %>
<h3 class="title">New Order</h3>
<%= form_with(model: @order, local: true) do |form| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>
      <ul>
        <% @order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email, class:"label" %>
    <%= form.text_field :email, type: "email", class: 'input', placeholder: 'Email' %>
  </div>

  <%= form.fields_for :stops do |stop_form| %>
    <div class="is-flex">

      <div class="field">
        <%= stop_form.label :address, class:"label" %>
        <%= stop_form.text_field :address, class: 'input', placeholder: 'Address' %>
      </div>

      <div class="field">
        <%= stop_form.label :stop_type, class:"label" %>
        <div class="select">
          <%= stop_form.select :kind, [['Load', 'load'], ['Unload', 'unload']], {}, { prompt: 'Type of stop' } %>
        </div>
      </div>

    </div>
  <% end %>

  <div class="actions mt-4">
    <%= form.submit class:"button is-primary" %>
  </div>
<% end %>

