<!DOCTYPE html>
<html>
  <head>
    <title>Deezpatch.com</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/857b3be6db.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css"
    >
  </head>
  <body>
    <%= render "shared/menu" %>
    <div class="p-6">
      <% if notice.present? %>
        <div class="has-text-primary has-text-weight-semibold mb-4">
          <%= notice %>
        </div>
      <% end %>
      <% if alert.present? %>
        <div class="has-text-danger has-text-weight-semibold mb-4">
          <%= alert %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
